# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
bin/
out/

# Expo / Mobile builds
.expo/
*.jks
*.p8
*.spc
*.key
*.apk
*.apks
*.aab
*.ipa

# Database & log files
*.log
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
.watermelondb/

# IDEs, text editors, and OS files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local environments / API Keys
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Expo / Metro / Web builds
web-build/
expo-env.d.ts
.metro-health-check*
app-example/
coverage/

# Native / Generated build files
.kotlin/
*.orig.*
*.p12
*.mobileprovision
*.pem
/ios

# Debug & error logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.stackdump

# TypeScript
*.tsbuildinfo
